
.Contents#Contents
  -for( let i = 0; i < mdlItem.length; i++ )
    .mdl_thumb.goth_a1_exb(class=`mdl_thumb_${i+1}`)
      .img_container.mdlOpen1
        -if(mdlItem[i].thumb_img)
          .thumb_img.thumbSlider
            -for( let s = 0; s < mdlItem[i].thumb_img; s++ )
              img(src=`${IMG_PATH}/contents/mdl_thumb_${i+1}_${s+1}.jpg?${now.getTime()}` loading="lazy")
        -else
          .thumb_img: img(src=`${IMG_PATH}/contents/mdl_thumb_${i+1}.jpg?${now.getTime()}` loading="lazy")
        .num.inview: p #{('00'+(i+1)).slice(-2)}
      p.name!=mdlItem[i].name
      -if( mdlItem[i].brand)
        p.brand.goth_a1_m!=mdlItem[i].brand
      p.date!=mdlItem[i].date
      .btn_container
        .detail.mdlOpen2: p DETAIL
        -if( mdlItem[i].online )
          a.buy(href=mdlItem[i].online target='_blank' rel='noopener noreferrer'): p BUY
